body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  
}

nav, footer {
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
}

#buttons {
  margin: 40px 0;
}

#container {
  margin: 0 auto;
  background-image: url('./img/magma.jpg');
  height: 100vh;
  color: #FFFF00;
}

#scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 14px;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
}

button {
  width: 80px;
  padding: 8px 12px;
  color: #333;
  background-color: #FFFF00;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#reset_score, #reset_speed {
  width: 120px;
}

#start:hover, #end:hover {
  background-color: red;
  color: #FFFF00;
}

#start:active, #end:active {
  background: #ddd;
  color: red;
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 12px;
}

#gameStatus {
  font-size: 20px;
}

a, a:visited {
  color: red;
}